.config/chromium
.config/dconf
.config/discord
.config/pulse
.config/nitrogen
.config/gtk-2.0
.config/QtProject.conf
.config/activitywatch/
.config/calibre/
.config/mimeapps.list
.config/neofetch/
.config/nvim/plugged/
.config/Cypress
.config/cef_user_data
.config/kritarc
.config/kritadisplayrc
.config/phoenix-manager
.config/obs-studio/logs
.config/obs-studio/profiler_data/
.config/obs-studio/plugin_config/obs-browser/
.config/obs-studio/basic/profiles/**/service.json
.config/systemd/user/*.target.wants/
.config/filezilla
.config/heroic
.config/menus
.config/unity3d
.config/transmission
.config/lutris/games
.config/lutris/runners
.config/Epic
.config/Unreal\ Engine/
.config/vlc
__pycache__
.config/custom_alias.sh

